* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161a46;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    font: optional;
    transition: 2s ease;
    overflow-x: hidden;
    border: relative;
}


/* This is for the navigation*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 1vh;
    min-width: 0vh;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    font: optional;
    padding: 5px;
    top: 0;
}

.Logo h4 {
    float: left;
    align-items: left;
    padding: 3vh 6vh;
    margin-top: 0%;
    font-size: 250%;
    color: white
}

.Nav-Links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.Nav-Links li {
    list-style: none;
}

.Nav-Links a {
    color: white;
    text-decoration: none;
    letter-spacing: .5vh;
    font-weight: bold;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: lightgray;
    margin: 4px;
    transition: all 0.3s ease;
}

.info {
    margin-top: 50%;
}


/* This is for the Main Center Stuff*/

.Main-Panel {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Main-Panel h1 {
    text-align: center;
    font-weight: Bold;
    font-size: 40px;
    color: white;
}

.Main-Panel .myInfo {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    color: white;
}

@media screen and (max-width: 800px) {
    .Logo h4 {
        position: center;
        font-size: 200%;
    }
    .burger {
        display: block;
    }
    .Nav-Links {
        position: absolute;
        right: 0px;
        height: 100%;
        top: 12vh;
        background-color: rgb(65, 65, 65);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }
    .Nav-Links li {
        opacity: 0;
    }
    body {
        overflow-x: hidden;
        position: relative;
    }
    .info {
        margin-top: 100%;
    }
    .Main-Panel h1 {
        font-size: 30px;
    }
    .footer .social a {
        font-size: 50px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}

@media screen and (max-width: 400px) {}

::-webkit-scrollbar {
    width: 10px;
    background: #1c2266;
}

::-webkit-scrollbar-thumb {
    background-color: #202a97;
    border-radius: 2em;
}

.nav-active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .Line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .Line2 {
    opacity: 0;
}

.toggle .Line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* This is for the text cr*/

h2 {
    font-family: 'Acme', sans-serif;
    color: white;
    text-align: center;
    font-size: 50px;
}

h1 {
    text-align: center;
    font-weight: Bold;
    font-size: 40px;
    color: white;
}


/* this is for the projects */

.Projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 50%;
}

.im img {
    width: 0px;
    height: 100px;
}

.Project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 350px;
    border-radius: 4px;
    background-color: #161a46;
    text-align: center;
    margin: 20px;
    transition: 0.3s;
    border: 1px solid #fff;
    border-radius: 14px;
    outline: none;
    color: white;
}

.ImageArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center center;
}

.Project:nth-child(1) .ImageArea {
    background-image: url(../images/Icon2.png);
}

.Project:nth-child(2) .ImageArea {
    background-image: url(../images/Icon1.png);
}

.Project:nth-child(3) .ImageArea {
    background-image: url(../images/Icon3.png);
}

.headerText {
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
    color: white;
}

.ImageText {
    font-family: 'Acme', sans-serif;
    padding-top: 20px;
    color: white;
}

.ImageText p {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: white;
}

.Project:hover {
    box-shadow: 0 0 25px 0 #fff;
    background-color: #202a97;
}

.padder {
    padding-top: 200px;
}


/* This is for the Footer*/

.footer {
    padding: 10px 0;
    background-color: #161a46;
    bottom: 0;
    width: 100%;
    position: fixed;
    transition: 2s ease;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .social a {
    font-size: 50px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 25px;
}

.footer .social a:hover {
    transition: 0.5s ease;
    color: rgb(65, 65, 65);
}

.footer .copyright {
    margin: top 15px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: white;
}

@media screen and (max-width: 500px) {
    .footer .social i {
        font-size: 40px;
        margin: 0 0;
    }
}